.chat{
    height: 602px;
    font-size: 23px;
    width: 100%;
    color: black;
}

@media only screen and (min-width:321px) and (max-width:768px){
    .chat{
        height: 602px;
        font-size: 23px;
        width: 100%;
        color: black;
        background-color:red;
    }
}
