
.homepage{
    height: -webkit-fill-available;
    width: 100%;
   
}
.ant-layout-content {
    -ms-flex: auto;
    flex: auto; 
    font-size: 16px;
}


@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 1000px) {
    .homepage{
     font-size: 20px;
    }
  }