
.loginpage{
    height: -webkit-fill-available;
}
.loginpapier {
    color: #dfe2ec;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: initial;
}
.login-form-button a{
    color:white;
}
.login-form{
    width: 40%;
    float: left;
    margin-left: 30%;
}
.login-form-button{
    width: 60%;
    color: #fbf3f3;
    background-color: #177392;
    border-color: #295d8c;
    padding: 13px 45px;
    height: 49px;
}
.signup-form-button{
    width: 60%;
    color: #fbf3f3;
    background-color: #177392;
    border-color: #295d8c;
    padding: 13px 45px;
    height: 49px;
    margin-top: 6px;
}
.ant-checkbox-wrapper + span, .ant-checkbox + span {
    padding-left: 8px;
    padding-right: 8px;
    color: #d2c3c3;
}
.whiteOnOr{
    color: white;
}
.signupBtn{
    color: #62b8e4;
    font-weight: bold;
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 1000px) {
    .login-form{
      font-size: 9px;
      width: 85%;
      margin-left:28px;
      margin-top: 38%;
    }   
    .papierlogo{
        background-color: #177392;
        height: 64px;
        -moz-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #4a0d0d;
    
    }
    .ant-input-affix-wrapper .ant-input-prefix {
        left: 31px;
    }
    .ant-input-affix-wrapper .ant-input:not(:first-child) {
        padding-left: 30px;
        border-color: #060606;
    }
  }