
.loginpage{
    background-image: url('./images/login-back.jpg');
    height: -webkit-fill-available;
}
.loginpapier {
    color: #dfe2ec;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: initial;
}
.login-form{
    width: 40%;
    float: left;
    margin-left: 30%;
    margin-top: 10%;
}
.login-form-button{
    width: 60%;
}
.ant-checkbox-wrapper + span, .ant-checkbox + span {
    padding-left: 8px;
    padding-right: 8px;
    color: #d2c3c3;
}
.whiteOnOr{
    color: white;
}
.signupBtn{
    color: #62b8e4;
    font-weight: bold;
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 1000px) {
    .login-form{
      font-size: 9px;
      width: 85%;
      margin-left:28px;
      margin-top: 38%;
    }   
  }