.signupPage{
  height: -webkit-fill-available;
  width: 100%;
}
.singupform{
    width: 40%;
    margin-left: 30%;
    padding-top: 10%;
    
}
.askingSK{
  color: #463d3d;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0em;
}
.addresspad {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  padding-bottom: 42px;
  padding-top: 13px;
  margin-bottom: 7px;
}
.ant-checkbox + span {
  padding-left: 8px;
  padding-right: 8px;
  color: #211e1e;
  font-weight: bold;
}
.ant-btn-primary {
    color: #fff;
    background-color: #265682;
    border-color: #295d8c;
    padding: 0px 45px;
}
.regester {
  color: #e8edf3;
}
.regester {
  color: #e8edf3;
  background-color: #177392;
  border-color: #295d8c;
  padding: 13px 94px;
  height: 47px;
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 1000px) {
  .singupform {
    font-size: 95px;
    width: 80%;
    margin-left: 34px;
    padding-top: 9%;
  } 
    .askingSK{
      font-size: 18px;
    }
    input:not([type=range]), label, select, summary, textarea {
      width: 86%;
      border-radius: 0px;
      padding: 27px 15px;
      border-color: #252424;
  }
  }