
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 1000px) {
.tickmark .tickicon {
    display: block;
    font-size: 113px;
    padding-top: 49%;
    color: #52ae49;
}
.backbtn{
    font-size: 21px;
    padding: 8px 95px;
    margin-top: 6px;
    border-radius: 4px;
    background: #177392;
    border: #177392;
}
.backbtn a{
    color: white;
    font-family: monospace;
}
.tickmark{
    height: -webkit-fill-available;
    background-color: #d2cfcf;
}
.tickera{
    margin-bottom: 0px;
    font-size: 25px;
    color: black;
}
.perapadding{
    padding-top: 32px;
}
}